<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Baseball Leagues</h1>
		<ol>
			{% for league in baseball_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Womens' Leagues</h1>
		<ol>
			{% for league in womens_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Not Football Leagues</h1>
		<ol>
			{% for league in not_football_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>T teams</h1>
		<ol>
			{% for team in t_teams %}
				<li>{{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Reverse Alpha teams</h1>
		<ol>
			{% for team in reverse_alpha_teams %}
				<li>{{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Atlantic</h1>
		<ol>
			{% for team in atlantic_teams %}
				<li>{{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Sophia Teams</h1>
		<ol>
			{% for team in sophia_teams %}
				<li>{{team.team_name}}</li>
			{% endfor %}
		</ol>
	</body>
</html>